.user-callout.promotion-callout {
  margin: 20px 0 0;

  &.prepend-top-10 {
    margin-top: 10px;
  }

  &.append-bottom-20 {
    margin-bottom: 20px;
  }

  .user-callout-copy {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .bordered-box {
    padding: 20px;
    border-color: $border-color;
    background-color: $white-light;
    align-items: flex-start;

    .close {

      .dismiss-icon {
        color: $gray-darkest;
      }

      &:hover {
        .dismiss-icon {
          color: $text-color;
        }
      }

    }

    .svg-container {
      margin-right: 15px;
    }

  }

  &.promotion-empty-page {
    margin-top: 56px;
  }

  &.promotion-advanced-search {
    margin: 0;
    border-bottom: solid 1px $border-color;

    h5 {
      margin-top: 0;
    }

    .bordered-box.content-block {
      border: none;
      padding: 20px 0;
      justify-content: left;

      svg {
        height: auto;
      }
    }

    .user-callout-copy {
      margin-left: 0;
    }
  }
}

.promotion-modal {

  .modal-dialog {
    width: 540px;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    margin-top: -20px;
    padding: 16px 16px 32px;
  }

  .modal-footer {
    border-top: none;
  }

}

.promotion-backdrop {
  background-color: $white-transparent;
  position: absolute;
  padding-top: 72px;

  .user-callout-copy {
    max-width: 700px;
  }
}

.promotion-info-weight-message {
  padding: $gl-padding-top;

  .dropdown-title {
    margin: 0 0 10px;
  }

  .btn {
    padding: $gl-vert-padding $gl-btn-padding;
    border-radius: $border-radius-default;
    display: block;
    line-height: $line-height-base;
  }

  .btn-link {
    display: inline;
    color: $gl-link-color;
    background-color: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $gl-link-hover-color;
    }
  }
}


.promotion-issue-template-message {
  padding: $gl-padding 30px 20px $gl-padding;

  p {
    margin-right: 20px;
  }

  .dropdown-title {
    margin: 0 -25px;
    padding: 0;
    overflow: initial;
    border-bottom: none;
  }

  .btn {
    padding: $gl-vert-padding $gl-btn-padding;
    border-radius: $border-radius-default;
    display: inline-block;
    line-height: $line-height-base;
  }

  .btn-link {
    display: inline;
    color: $gl-link-color;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $gl-link-hover-color;
    }
  }
}

